.login {
  min-height: 55vh;
  padding: 6rem 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
}

.login-buttons-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 6rem;
  row-gap: 2rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  outline: none;
  padding: 2rem;
  background-color: transparent;
  border: 0.1rem solid var(--darker-brown);
  font-size: 2rem;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.login-button svg {
  font-size: 3rem;
}

@media screen and (min-width:800px) {
  .login-buttons-container {
    flex-direction: row;
    row-gap: 6rem;
  }
}