.separator {
  display: flex;
  align-items: center;
  width: 25rem;
  column-gap: 2rem;
}

.separator .separator-hr {
  width: 100%;
  height: 3px;
  border: none;
  background: #cecbcb
}

.separator hr {
  outline: none;
  border: none;
  height: 100%;
  margin: 0;
}

.separator svg {
  width: 10rem;
  height: auto;
}

@media screen and (min-width: 500px) {
  .separator {
    width: 40rem;
  }

  .separator svg {
    width: 14rem;
    height: auto;
  }
}