.main-btn {
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: transparent;
  outline: none;
  border: 0.2rem solid var(--darker-brown);
  color: var(--darker-brown);
  padding: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.main-btn a {
  color: var(--darker-brown);
  text-decoration: none;
}

.main-btn:hover {
  background-color: var(--darker-brown);
  color: var(--light-bg);
}

.main-btn:hover a {
  color: var(--light-bg);
}

@media screen and (min-width: 500px) {
  .main-btn {
    font-size: 2.5rem;
  }
}