.hero-shop {
  background-image: url("https://i.pinimg.com/736x/2f/43/5c/2f435c0f523b61e21941f9a3e561ad90.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
}

.hero-shop-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-shop-content {
  padding: 2rem;
  color: var(--light-bg);
  font-family: 'Caudex', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-shop-content h1 {
  margin: 0 0 1rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.hero-shop-content p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

@media screen and (min-width: 600px) {
  .hero-shop {
    height: 46vh;
  }

  .hero-shop-content h1 {
    margin: 0 0 1rem;
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }

  .hero-shop-content p {
    font-size: 2rem;
    margin: 1rem 0 3rem;
  }
}

@media screen and (min-width: 800px) {
  .hero-shop-content h1 {
    margin: 0 0 1rem;
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }

  .hero-shop-content p {
    font-size: 2.5rem;
    margin: 1rem 0 0;
    max-width: 60rem;
  }
}