.cart {
  padding: 8rem 1rem 0;
  display: flex;
  flex-direction: column;
  column-gap: 6rem;
  justify-content: space-between;
  min-height: 55vh;
}

.cart-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.cart-coffees-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4rem;
}

.cart-total-container {
  font-size: 2rem;
  background-color: var(--opaque-light-brown);
  padding: 4rem;
  border-radius: 1rem;
  height: fit-content;
  margin-top: 4rem;
}

.cart-total-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  border-bottom: 0.1rem solid gainsboro;
  color: var(--darker-brown);
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

.cart-total-content h2 {
  margin: 0;
}

.cart-total-subtotal span:last-child {
  color: var(--lighter-text);
  margin-left: 3rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-total-subtotal {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

.cart-items-title {
  text-align: left;
  font-size: 3rem;
}

@media screen and (min-width: 750px) {
  .cart {
    display: flex;
    column-gap: 6rem;
    justify-content: space-between;
    min-height: 55vh;
  }

  .cart-coffees-container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }
}

@media screen and (min-width: 1300px) {
  .cart {
    padding: 14rem 20rem 0;
    display: flex;
    flex-direction: row;
    column-gap: 6rem;
    justify-content: space-between;
    min-height: 55vh;
  }

  .cart-items {
    align-items: flex-start;
  }
}