.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 90vh;
  background-color: #A78D7B;
  position: relative;
  overflow: hidden;
  margin-top: 6rem;
}

.reviews-presentation h1 {
  font-size: 3rem;
  margin: 4rem 0 0;
  color: #3c2828;
}

.reviews .bg-wave {
  position: absolute;
  bottom: 0;
  min-height: 50vh;
  width: 100%;
  background-color: #4e3d2e;
  --mask:
    radial-gradient(100.62px at 50% 135.00px, #000 99%, #0000 101%) calc(50% - 90px) 0/180px 100%,
    radial-gradient(100.62px at 50% -90px, #0000 99%, #000 101%) 50% 45px/180px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.reviewCard {
  height: 50vh;
  max-height: 35rem;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.reviewCard .reviewCard-info {
  height: 68%;
  width: 100%;
  margin-top: auto;
  padding: 2rem;
  background-color: #fbf0e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.08);
}

.reviewCard-image {
  height: 12rem;
  width: 12rem;
  min-height: 12rem;
  min-width: 12rem;
  border-radius: 100rem;
  position: absolute;
  left: 50%;
  top: 0rem;
  transform: translate(-50%, 0);
}

.reviewCard-info h3 {
  margin: 4rem 0 0;
  font-size: 1.4rem;
  font-style: italic;
}

.reviewCard-info p {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}

.reviewCard-info .reviewCard-stars-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.reviewCard-stars-container {
  margin: 0;
  font-size: 1.5rem;
  font-style: italic;
}

.reviewCard-stars-container .reviewCard-stars {
  font-size: 1.5rem;
}

.swiper {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 3rem;
}

.reviews-myswiper .swiper-button-next,
.reviews-myswiper .swiper-button-prev {
  color: #201b1b;
}


@media screen and (min-width: 800px) {
  .reviews {
    min-height: 90vh;
  }

  .reviewCard {
    height: 40vh;
    max-height: 40vh;
    width: 80%;
  }

  .reviewCard-info h3 {
    font-size: 1.8rem;
  }

  .reviewCard-info p {
    font-size: 3rem;
  }

  .reviewCard-stars-container .reviewCard-stars,
  .reviewCard-stars-container {
    font-size: 2.5rem;
  }

  .reviews-presentation h1 {
    font-size: 6rem;
    margin: 4rem 0 0;
  }

}

@media screen and (min-width: 1000px) {
  .reviews {
    min-height: 80vh;
  }

  .reviewCard {
    height: 40vh;
    max-height: 50rem;
    width: 90%;
  }

  .reviewCard .reviewCard-image {
    height: 20rem;
    width: 20rem;
    min-height: 20rem;
    min-width: 20rem;
  }

  .reviewCard .reviewCard-info {
    margin: 0 4rem;
  }

  .swiper {
    max-width: 80%;
  }
}

@media screen and (min-width: 1500px) {
  .reviewCard {
    height: 60vh;
    max-height: 50rem;
    width: 80vh;
  }

  .reviews-presentation h1 {
    font-size: 6rem;
    margin: 4rem 0 0;
  }

  .reviewCard .reviewCard-image {
    height: 20rem;
    width: 20rem;
    min-height: 20rem;
    min-width: 20rem;
  }

  .reviewCard .reviewCard-info {
    margin: 0 4rem;
  }

  .reviewCard-info h3 {
    font-size: 1.8rem;
  }

  .reviewCard-info p {
    font-size: 3rem;
  }

  .reviewCard-stars-container .reviewCard-stars,
  .reviewCard-stars-container {
    font-size: 2.5rem;
  }

  .swiper {
    max-width: 55%;
  }
}