.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: transparent;
  transition: all 800ms cubic-bezier(0.64, 0.04, 0.25, 0.87);
  z-index: 10;
}

.navigation a {
  text-decoration: none;
}

.navigation.active {
  background-color: var(--light-brown);
  box-shadow: 0px 9px 73px 4px var(--wrapper-bg)
}

.navigation .navigation-logo {
  font-size: 3rem;
  margin: 0;
  padding-left: 2rem;
  color: var(--accent);
}

.navigation.active .navigation-logo {
  color: var(--darker-brown);
}

.navigation-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 0;
  height: fit-content;
  transform: translate3d(0, -200%, 0);
  position: absolute;
  z-index: -1;
  top: 3rem;
  left: 0;
  right: 0;
  background-color: var(--light-brown);
  border-bottom: 0.6rem solid var(--darker-brown);
}

.navigation-links.active {
  padding: 2rem 0 3rem 0;
  transition: all 0.8s cubic-bezier(0.64, 0.04, 0.25, 0.87);
}

.navigation-link {
  list-style: none;
  cursor: pointer;
  position: relative;
  max-height: 5rem;
}

.navigation-link:focus-visible {
  outline: 0.3rem solid var(--accent);
  outline-offset: 0.2rem;
  border-radius: 0.5rem;
}

.navigation-link svg {
  color: var(--darker-brown);
  width: 2.5rem;
  height: auto;
}

.navigation-link a,
.navigation-link h2 {
  color: var(--darker-brown);
  text-decoration: none;
  font-size: 2.5rem;
  margin: 0;
}

.navigation-link a:last-child {
  margin-right: 2rem;
}

.navigation-link span {
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  font-size: 2rem;
  color: var(--light-bg);
}

.navigation.active .navigation-link span,
.navigation.active .navigation-link h2 {
  color: var(--darker-brown);
}

.navigation-hamb {
  color: var(--accent);
  background-color: transparent;
  font-size: 3.5rem;
  outline: none;
  border: none;
  margin: 0;
  padding: 0 2rem 0 0;
  display: flex;
  transition: all 0.3s cubic-bezier(0.64, 0.04, 0.25, 0.87);
}

.navigation.active .navigation-hamb,
.navigation-hamb[ aria-expanded="true"] {
  color: var(--darker-brown);
}

.navigation-hamb[ aria-expanded="true"]+.navigation-links {
  transform: translate3d(0, 0, 0);
}

.navigation-link a {
  border-radius: 20rem;
  overflow: hidden;
  margin-left: 2rem;
}

.navigation-link a img {
  height: 5rem;
  width: 5rem;
  max-height: 5rem;
  max-width: 5rem;
  object-fit: cover;
  border-radius: 20rem;
}

@media screen and (min-width: 500px) {
  .navigation .navigation-logo {
    padding-left: 3rem;
  }

  .navigation-hamb {
    display: none;
  }

  .navigation-links {
    position: static;
    transform: translate3d(0, 0, 0);
    flex-direction: row;
    border-bottom: 0;
    z-index: 0;
    inset: 0;
    /*top, left, right, bottom sets to 0*/
    background-color: transparent;
  }
}

@media screen and (min-width: 800px) {
  .navigation {
    padding: 1rem 0;
  }

  .navigation .navigation-logo {
    font-size: 3.5rem;
    margin: 0;
    padding-left: 6rem;
    color: var(--accent);
  }

  .navigation.active .navigation-link svg,
  .navigation.active .navigation-link a {
    color: var(--darker-brown);
  }

  .navigation-link svg {
    color: var(--light-bg);
    width: 2.5rem;
    height: auto;
  }

  .navigation-link a,
  .navigation-link h2 {
    color: var(--light-bg);
    text-decoration: none;
    font-size: 2.5rem;
  }

  .navigation-link:last-child {
    margin-right: 6rem;
  }
}