:root {
  --opaque-light-bg: #fbf0e7c3;
  --light-bg: #fbf0e7;
  --light-pink: #f3dece;
  --opaque-light-brown: #f7eae0;
  --light-brown: #A78D7B;
  --wrapper-bg: #00000080;
  --darker-brown: #3c2828;
  --lighter-text: #947272;
  --accent: #528e52;
}