.sidebar-filter {
  width: fit-content;
  padding: 5rem 2rem;
  text-align: left;
  color: #3c2828;
  display: flex;
  column-gap: 3rem;
}

.sidebar-filter h1 {
  font-size: 2.4rem;
  margin: 0 0 0.8rem;
}

.sidebar-filter h2 {
  font-size: 2rem;
}

.sidebar-filter ul {
  text-align: left;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.sidebar-filter div:last-child ul:last-child {
  padding-left: 0rem;
}

.sidebar-filter ul li {
  list-style: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.sidebar-filter ul li:hover {
  color: #1a1717;
}

.sidebar-filter hr {
  outline: none;
  border: 0.1rem solid #3c2828;
  height: 0;
  margin-block: 0;
}

@media screen and (min-width: 800px) {
  .sidebar-filter {
    flex-direction: column;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .sidebar-filter {
    width: 15%;
  }
}