.footer {
  background-image: url("../../icons/footer-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  color: #cecbcb;
  padding-left: 20rem;
}

.footer-info h1 {
  font-size: 6rem;
  margin: 0;
}

.footer-info span {
  font-size: 1.6rem;
  margin: 0;
}

.footer-links {
  /* padding-right: 20rem; */
  display: flex;
  flex-direction: row;
  column-gap: 10rem;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer-links ul li,
.footer-newsletter h3 {
  list-style: none;
  font-size: 2.5rem;
  text-align: left;
  margin: 0;
}

.footer-links ul li a {
  color: #cecbcb;
  text-decoration: none;
}

.footer-newsletter {
  color: #cecbcb;
  text-align: left;
}

.footer-newsletter p {
  font-size: 1.6rem;
  padding-bottom: 2rem;
  margin: 0;
  font-style: italic;
}

.footer-newsletter input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.3rem solid white;
  border-radius: 0.2rem;
  padding: 0 0 1rem;
  color: #cecbcb;
  width: 80%;
}

.footer-newsletter input::placeholder {
  color: #cecbcb;
}

@media screen and (max-width: 500px) {
  .footer {
    background-position: right;
    align-content: center;
    row-gap: 3rem;
  }

  .footer-info {
    padding-left: 6rem;
  }

  .footer-info h1 {
    font-size: 3.5rem;
    margin: 0;
  }

  .footer-links {
    flex-direction: column;
    padding-right: 6rem;
  }

  .footer-links ul li,
  .footer-newsletter h3 {
    list-style: none;
    font-size: 2rem;
    text-align: left;
    margin: 0;
  }

  .footer-newsletter {
    margin: 0 6rem;
  }
}