.selection-all {
  min-height: 100vh;
  padding: 2rem;
}

.selection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

@media (min-width: 768px) {


  .selection-grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 6rem;
  }
}

@media (min-width: 1200px) {
  .selection-all {
    margin: 0 0 0 28rem;
    padding: 6rem;
  }

  .selection-grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (min-width: 1550px) {
  .selection-grid {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}