.crumbs {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.8rem;
}

.crumbs-back {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--darker-brown);
  font-family: "Caudex";
  padding: 0;
  font-size: 1.8rem;
}

.crumbs svg {
  color: var(--darker-brown);
}

.crumbs-active {
  color: var(--light-brown);
}

@media screen and (min-width: 800px) {
  .crumbs {
    margin: 2rem 0 4rem 6rem;
  }

  .crumbs-back {
    font-size: 3rem;
  }

  .crumbs-active {
    color: var(--light-brown);
    font-size: 3rem;
  }

  .crumbs svg {
    font-size: 3rem;
  }
}